body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.input_video {
  display: none; /* Hide the video element */
}

.output_canvas {
  position: absolute;
  top: 0;
  left: 0;
}
